.radarchart {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  color: #58545e;
  .radarchart-container {
    padding: 10px;

    .title {
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 22px;
      }
      .dots {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 20px;
        height: 15px;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: #c9c9c991;
        }

        .dot {
          width: 3px;
          height: 3px;
          background: #76737b;
          border-radius: 3px;
        }
      }
    }
  }
}
